footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9cb700;
  color: white;
  font-family: 'Oswald', Helvetica, sans-serif;
  flex-shrink: 0;
  text-shadow: 0 0 4px #111;
}
